@import '../../../../variables';

.button {
  background: none;
  border: none;
  outline: none;

  cursor: pointer;
  width: 100%;

  &-default {
    height: 50px;
    padding: 0 40px;
    border-radius: 8px;
    background-color: $blue;
    margin-top: $space-base;
    color: $white;
  }

  &-text {
    height: 30px;
    color: $blue;
    font-weight: 700;
  }

  &[disabled] {
    cursor: default;
    background-color: $disabled;
  }
}
