@import '../../../variables';

.search-results {
  height: 90vh;
  margin: 0 auto;
  @include position('vertical');
  flex-direction: column;
  overflow-y: auto;

  &-info {
    @include position('vertical');
    justify-content: space-between;
    width: 450px;
    margin-bottom: $space-l;
  }
}

.loader {
  height: 80px;
  @include position('center');
}
