@import '../../../../../variables';
:host {
  @media only screen and (max-width: map-get($breakpoints, 'lg')) {
    width: 100%;
  }
}
.fact-container {
  background-color: $light-green;
  border-radius: 8px;
  width: 450px;
  padding: 10px;
  margin-bottom: $space-base;
  overflow: hidden;
  @media only screen and (max-width: map-get($breakpoints, 'lg')) {
    width: auto;
  }

  h3,
  p {
    margin: 0;
    padding: 0;
  }

  p {
    font-size: $base;
    margin-top: $space-xs;
    padding-left: calc($space-base + 4rem);
    @include break-line;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.fact-info {
  @include position('vertical');
  gap: $space-base;

  h3 {
    font-size: $base;
    font-weight: 700;
  }
}
