@import '../../../../variables';

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: $space-base;

  .label {
    display: block;
    font-size: $base;
    margin-bottom: $space-xs;
  }

  input {
    padding: $space-l;
    display: block;
    border: 1px solid $grey;
    border-radius: 6px;
    outline: none;
    font-size: $base;

    &:focus {
      transition: border-color 0.3s ease;
      border-color: $focus;
    }

    &.invalid {
      border-color: $error;
    }
  }
}
