<main class="container">
  <section class="container__form">
    <h1 class="container__title">Welcome to CatFact!</h1>
    <p>Enter your email and password to continue.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <app-input
        formControlName="email"
        id="email"
        label="Email"
        placeholder="Enter your email"
      ></app-input>
      <app-input
        formControlName="password"
        type="password"
        id="password"
        label="Password"
        placeholder="Enter secure password"
      ></app-input>

      <app-button
        label="Login"
        [loading]="isLoading"
        [disabled]="loginForm.invalid"
      ></app-button>
    </form>
  </section>
  <section class="container__image">
    <img
      src="https://images.unsplash.com/photo-1501474466180-4704b8607ba5?q=50&w=1200&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Zdjęcie kota"
    />
  </section>
</main>
