// colors
$error: rgb(255, 82, 82);
$focus: rgb(96, 128, 255);
$disabled: rgb(223, 223, 223);
$blue: rgb(67, 127, 255);
$grey: rgb(188, 188, 188);
$white: rgb(255, 255, 255);

// font-size
$xs: 1.2rem;
$base: 1.4rem;
$xl: 2.4rem;

// spaces
$space-xs: 0.5rem;
$space-base: 1rem;
$space-xl: 2rem;

// mixins
@mixin break-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
